# ========================
# Node
# ========================
node_modules/
dist/
build/

# ========================
# Client (Angular/React)
# ========================
client/node_modules/
client/dist/
client/build/
client/.angular/


# ========================
# Server (Express/Node)
# ========================
server/node_modules/
server/dist/
server/build/

# ========================
# Environment files
# ========================
.env
*.env

# ========================
# Logs
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
